**/target/
**/build/
**/.gradle/
**/.cache/
**/node_modules/
**/local.properties
**/.cxx/
media/webrtc/out/
media/webrtc/checkout/
android/media-webrtc/libs/*.aar
*.log
*.jks
*.keystore
.idea/
.vs/
dist/
**/jniLibs/**/*.so
